*{
    margin: 0;
    padding: 0;
}
.pagina > *{
    box-shadow: 4px 4px 8px black;
    border-radius: 5px;
    text-align: center;
    padding: 0px;
}
.html{
   height: 100%;
}
.pagina{
    min-height: 100%;
    display: grid;
    gap: 10px;
    
    grid-template:
    "cabeza" 80px
    "barraNav"  40px
    "principal" auto
    "anuncios" 70px
    "piePag" 70px
    ;

}
.cabeza{
    background-color: #D2BEFA;
    grid-area: cabeza;
}

.titulo, .nombre{
    display: inline-block;
    margin-right: 150px;
}
.menu{
    display: inline-flex;
    width: 520px;
    justify-content: space-evenly;
    list-style: none;
    
    
   
}
.links{
   
  
    color: purple;
    
    border-radius: 5px;
    padding: 2px;
    
    
    
}

.registro{
    display: inline-flex;
    width: 100px;
    justify-content: space-evenly;
    
}
.registros{
    background-color:#A68FF7;
    color: black;
    border: 1px solid #BB8AED;
    border-radius: 5px;
    padding: 2px;

}
.principal{
    grid-area: principal;
    background-color: #A68FF7;

}
.barraNav{
    grid-area: barraNav;
    background-color: #B1B6E6;

}
.anuncios{
    grid-area: anuncios;
    background-color: #D2BEFA;
}
.piePag{
    grid-area: piePag;
    background-color: aqua;
}
@media(min-width: 600px){

   
    .pagina{
        grid-template:
        "cabeza  cabeza" 80px
        "barraNav barraNav"  40px
        "principal anuncios" auto
        "piePag piePag" 70px /
         auto       200px
    ;
    }

}
@media(min-width: 800px){
   
    .pagina{
        grid-template:
        "cabeza  cabeza cabeza" 50px
        
        "barraNav principal anuncios" auto
        "piePag piePag piePag" 70px /
           200px  auto       200px
    ;
    }

}

.img{
   
    width: 80%;
}


@media (min-width: 600px){
    
    .cabeza h1{

        font-size: 40px;
        width: 80;
        text-align: left;
        margin-left: 10px;
      
    }

    .cabeza .links{
         align-content: right;
         margin-left: 1px;

    }

    .registro{
        
        align-content: center;

    }
}
